node_modules
npm-debug.log
.git
.gitignore
.env
**/.env
**/.env.*
!**/.env.example
uploads/
uploads/audio/*
!uploads/audio/.gitkeep
uploads/videos/*
!uploads/videos/.gitkeep
logs/*
!logs/.gitkeep
*.log
.DS_Store
dist
build
coverage
.vscode
.idea
__pycache__
*.pyc
*.pyo
*.pyd
media/

